{% block banner %}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators"> 
    {% for image in banner.bannerimages_set.all %}

    {% if forloop.first %}
    
    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.counter}}" class="active"></li>
    
    {% else %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.counter}}" class="active"></li>
        


    {% endif %}

        

    
    
    
    
    
    {% endfor %}

    </ol>
    
    <div class="carousel-inner">


        {% for image in banner.bannerimages_set.all %}

        {% if forloop.first %}
        
        <div class="carousel-item active">
           <a href="{{image.image_ref}}"> <img class="d-block w-100" src="{{image.banner_image.url}}" alt="First slide">
           </a> </div>
       
        {% else %}
        <div class="carousel-item ">
            <a href="{{image.image_ref}}"> <img class="d-block w-100" src="{{image.banner_image.url}}" alt="First slide">
            </a> </div>     
    
    
        {% endif %}
    
            
        
        
        
        
        
        {% endfor %}
    


    </div>
</div>











{% endblock banner %}















