
{% load crispy_forms_tags %}









<section class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-3 ">
                <img src="{{request.site_info.bottom_logo.url}}" alt="">
            </div>
            <div class="col-9  footer-social">
                <div class="topsocial">
                    <ul>
                        {% for link in request.social_links  %}
                        <li><a href="{{link.url}}" target="_blank"><img src="{{MEDIA_URL}}{{link.icon.url}}" alt="Facebook" /></a></li>
                        {% endfor %}                         
                    </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 col-md-3 footpadd">
                <div class="contact-details">
                    <div class="heading">Want to connect with us ?</div>
                    <p>We are happy to hear you <a href="mailto:{{request.business_info.email}}" style="color:#fedd0d;">support@unboxjoy.com</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 footpadd">
                <div class="contact-details">
                    <div class="heading">Useful Links</div>
                    <div class="quicklinks">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            {% if request.important_links %}

                            {% for link in request.important_links %}
                            
                            <li><a href="{{link.get_absolute_url}}">{{link.link_name|capfirst}}</a></li>
                            
                            
                            {% endfor %}
                            
                            
                            {% endif %}
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 footpadd">
                <div class="contact-details">
                    <div class="heading">Games</div>
                    <div class="quicklinks">
                        <ul>
                            {% for game in  request.games_menu %}


                           

                               
                                {% for content_type in game.gameupdatetype_set.all %}


                                {% if forloop.first %}
                                
                                <li><a href="{% url 'games:game-updates' game.game_id content_type.update_type_id %}">{{game.game_name|capfirst}}</a></li>

                                {% endif %}

                                
                                {% endfor %}

                               
                            {% endfor %}
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 footpadd">
                <div class="contact-details">
                    <div class="heading">Newsletter</div>
                    <p>Get our latest updates</p>
                    <form action="{% url 'subscribe-newsletter' %}" id="subscribe-fotter" method="POST">

                        {% csrf_token %}

                        {{request.subscribe_form.email_id.errors}}

                          {{request.subscribe_form.email_id }}


                        
                            <input  type="submit" id="myBtn2" name="Subscribe"  class="btn btn-primary" onclick="document.getElementById('subscribe-fotter').submit();">
                        </div>
                    </form>
                </div>
            </div>

            
            
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="copyright">
                    <p class="text-center text-lg-left">Copyright 2022.{{request.site_info.site_name}}. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-center text-lg-right">Designed and developed by AnsGenix IT Solutions</p>
            </div>
        </div>
    </div>
</footer>