{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}


{% block content %}

{% if banner %}

{% block banner %}

{% include "common/banner.html" %}

{% endblock banner %}

{% endif %}





<div class="section mt-5">
 <div class="container col-12">


    <div class="col-12">
          
        <div class="card-header card-details-header text-center">
          <h3> Kid's Corner  </h3>
       </div>


  <div class="row d-lg-none d-md-block d-sm-block col-12">
    <div class="filter m-5 w-100"> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
    </div>
    <div id="mobile-filter ">
        
        <div class="border-bottom pb-2 ml-2">
            <h4 id="burgundy">Filters</h4>
        </div>
        <div class="py-2 border-bottom ml-3">
          
            <div id="orange"><span class="fa fa-minus"></span></div>

            <form method="get">
              <div class="well">
                
                <div class="row">
                  <div class="form-group col-sm-4 col-md-3">
                    {{ filter_form.content_title.label_tag }}
                    {% render_field filter_form.content_title class="form-control" %}
                  </div>
                  
                  
                  <div class="form-group col-sm-4 col-md-3">
                    {{ filter_form.created_at.label_tag }}
                    {% render_field filter_form.created_at class="form-control" %}
                  </div>
                 



                </div>
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
            </form>
     
        </div>
      
       
    </div> 
    </div>

    
       
    
          
    
     
    

    <div class="row">
        <aside class=" d-none  d-sm-none d-md-none col-3  mb-3 d-lg-inline-block  bg-white rounded   order-0 order-lg-0 p-5" >


        
            
            <div class="py-2 border-bottom box-shadow-aside  ml-3">
                <h6 class="font-weight-bold">Filter</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>



                <form method="get">
                  <div class="well">
                    
                    <div class="row">
                      <div class="form-group col-10">
                        {{ filter_form.content_title.label_tag }}
                        {% render_field filter_form.content_title class="form-control" %}
                      </div>
                      
                      
                      <div class="form-group col-10">
                        {{ filter_form.created_at.label_tag }}
                        {% render_field filter_form.created_at class="form-control" %}
                      </div>
                     



                    </div>
                    <button type="submit" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                  </div>
                </form>
              















        
            </div>


            
          <div class="bg-white  py-5 box-shadow-aside mb-5">
            <h4 class="mb-4 aside-head">Quote Of The Day</h4>
            <div class="card">
              <div class="card-body">
                <blockquote class="blockquote side-quote">
                  <p>{{quote_of_day.content_content.html|safe}}</p>
      
                </blockquote>
              </div>
            </div>
      
          </div>
          
        </aside>


        <div class="col-lg-9  col-md-12 col-sm-12  mb-3 box-shadow-aside ">
            
            
            {% if content_list %}
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="text-muted m-2" id="res">Showing {{page_count}} results</div>
                    
                </div>
                <div class="row">
                   <div class="col-12 d-lg-flex  d-md-flex ">
                        
                    {% for item in  content_list %}


                    <div class="col-sm-4 mb-4">
                      <article class="card card-details mt-2 mb-2  rounded-10 position-relative box-shadow zindex-1">
                        <div class="card-type">{{item.content_type.content_type_name}}</div>
                        <img class="card-img-top rounded-top-0 clip-half-cycle" height="250px" src="{{item.content_thumbnail.url}}" alt="blog-thumb">
                        <div class="card-body blog-card-body" style="background-color:white;">
                          <div class="title-border-left">
                            <div class="card-meta text-uppercase mb-2">by <strong class="text-dark">admin</strong>/ on <strong class="text-dark">{{item.created_at|date:'Y-m-d H:i'}}</strong></div>
                            <h4 class="card-title"><a href="{{item.get_absolute_url}}" class="text-dark">{{item.content_title|capfirst}}</a></h4>
                          </div>
                          <p class="card-text">{{item.content_content.html|truncatewords_html:10|safe}}</p>
                          <a href="{{item.get_absolute_url}}" class="btn btn-secondary w-100">read more</a>
                        </div>
                      </article>
                    </div>
                    
                  



                   

                    {% endfor %}
        
        
                          
                          
                        
                    </div>
                
                
                
                
                
                
                </div>


                {% if content_list.has_other_pages %}

                <nav aria-label="Page navigation example">
              
              
                <ul class="pagination justify-content-first">
              
                  {% if content_list.has_previous %}
                  
                    <li class="page-item"><a class="page-link" href="?page={{ content_list.previous_page_number }}">&laquo; previous</a></li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {% endif %}
                  {% for i in content_list.paginator.page_range %}
                    {% if content_list.number == i %}
                      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if .has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ content_list.next_page_number }}">Next &raquo;</a></li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                  </li>
                    
                  {% endif %}
                </ul>
              
              </nav>
              {% endif %}
            </div>


            {% else %}

            <div class="container-fluid mt-100 ">
              <div class="row">
                  <div class="col-md-12 mb-12">
                      <div class="card">
                          <div class="card-header">
                           
                          </div>
                          <div class="card-body cart">
                              <div class="col-sm-12 empty-cart-cls text-center"> <img src="{% static 'images/empty.png' %}" width="130" height="130" class="img-fluid mb-4 mr-3">
                                  <h3><strong>No Records Found</strong></h3>
                                      </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        
            
            {% endif %}
            
        
        
        </div>
      
        
    </div>











    </div>
</div>




      



<!-- products section -->

    

{% comment %} </div> {% endcomment %}

















{% endblock content %}