
{% extends 'base.html' %}
{% load static %}






{% block content %}
    
{% block banner %}
{% include "common/banner.html" %}


{% endblock banner %}


  {% if active_giveaways %}

  <section class="pt-5 pb-5 mt-2 mb-2  ">
    <div class="container  ">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="mb-2 mt-2 bd-2 ">Giveaways</h3>
            </div>
            <div class="col-12 text-right">
                <a class="btn  mb-3 mr-1" href="#giveaway" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn mb-3 " href="#giveaway" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="giveaway" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                  
                  {% for active_list in active_giveaways %}


        

                  
                  {% if forloop.counter == 1  %}
                  <div class="carousel-item active">
                    
                  <div class="row">
                     {% for giveaway in active_list  %}
                    
                     <div class="col-md-4 mb-3 ">
                      <div class="card giveaway-card mt-2 mb-6 ml-2 mr-2" >

                        <div class="card-header ">
                          <img class="card-img-top" src="{% static 'images/giveaway.png' %}" alt="Card image cap">
                        </div>
                     
                        





                        <div class="card-body text-center">
                          <h5 class="card-title">{{giveaway.giveaway_title}}</h5>
                          <p class="card-text">{{giveaway.giveaway_desc.html|truncatewords_html:50|safe}}</p>
                        </div>
                        <div class="card-footer text-center cart-foot">
                          <button type="button " class="btn card-botton" data-toggle="modal" data-target="#playerModal" data-whatever="{{giveaway.giveaway_id}}">Apply</button>
                         <a href="{{giveaway.get_absolute_url}}"><button type="button " class="btn card-detail-botton">Details</button></a>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                  </div>

                  {% else %}

                  <div class="carousel-item">

                    <div class="row">




                    {% for giveaway in active_list  %}
                    
                    <div class="col-md-4 mb-3 ">
                     <div class="card giveaway-card mt-2 mb-6 ml-2 mr-2" >

                       <div class="card-header ">
                         <img class="card-img-top" src="{% static 'images/giveaway.png' %}" alt="Card image cap">
                       </div>
                    
                       





                       <div class="card-body">
                         <h5 class="card-title">{{giveaway.giveaway_title}}</h5>
                         <p class="card-text">{{giveaway.giveaway_desc.html|safe}}</p>
                       </div>
                       <div class="card-footer text-center cart-foot">
                        <button type="button " class="btn card-botton" data-toggle="modal" data-target="#playerModal" data-whatever="{{giveaway.giveaway_id}}">Apply</button>
                        
                         <a href="{{giveaway.get_absolute_url}}"><button type="button " class="btn card-detail-botton">Details</button></a>
                        
                       </div>
                     </div>
                   </div>

                   {% endfor %}
                 


                                





                    </div>

                  </div>


                  {% endif %}

                      
         
                      

                

                   
                    {% endfor %}
                  
                    
                     
                   

                </div>
                    






                    
                  
                    





                  
               </div>     
                                                
              </div>
      </div>
    </div>
  </section>

  
  {% elif announced_giveaways %}
  

  <section class="pt-5 pb-5 mt-2 mb-2  ">
    <div class="container  ">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="mb-2 mt-2  bd "> Recent Giveaways </h3>
            </div>
            <div class="col-12 text-right">
                <a class="btn  mb-3 mr-1 dec-btn" href="#carouseldeclared" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
              
                  <a class="btn mb-3 dec-btn" href="#carouseldeclared" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouseldeclared" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                  
                  {% for active_list in announced_giveaways %}


        

                  
                  {% if forloop.counter == 1  %}
                  <div class="carousel-item active">
                    
                  <div class="row">
                     {% for giveaway in active_list  %}
                    
                     <div class="col-md-4 mb-3 ">
                      <div class="card giveaway-card mt-2 mb-6 ml-2 mr-2" >

                        <div class="card-header ">
                          <img class="card-img-top" src="{% static 'images/giveaway.png' %}" alt="Card image cap">
                        </div>
                     
                        





                        <div class="card-body">
                          <h5 class="card-title">{{giveaway.giveaway_title}}</h5>
                          <p class="card-text">{{giveaway.giveaway_desc.html|safe}}</p>
                        </div>
                        <div class="card-footer text-center cart-foot">
                         
                          <button type="button" data-toggle="modal" data-target="#winner-{{giveaway.giveaway_title}}" class="btn card-detail-botton">Winners</button>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                  </div>





                  {% else %}

                  <div class="carousel-item">

                    <div class="row">




                    {% for giveaway in active_list  %}
                    
                    <div class="col-md-4 mb-3 ">
                     <div class="card giveaway-card mt-2 mb-6 ml-2 mr-2" >

                       <div class="card-header ">
                         <img class="card-img-top" src="{% static 'images/giveaway.png' %}" alt="Card image cap">
                       </div>
                    
                       





                       <div class="card-body">
                         <h5 class="card-title">{{giveaway.giveaway_title}}</h5>
                         <p class="card-text">{{giveaway.giveaway_desc.html|safe}}</p>
                       </div>
                       <div class="card-footer text-center cart-foot">
                        <button type="button" data-toggle="modal" data-target="#winner-{{giveaway.giveaway_title}}" class="btn card-detail-botton">Winners</button>
                  
                         
                       </div>
                     </div>
                   </div>

                   {% endfor %}
                 


                                





                    </div>

                  </div>


                  {% endif %}

                      
         
                      

                

                   
                    {% endfor %}
                  
                    
                     
                   

                </div>
                    






                    
                  
                    





                  
               </div>     
                                                
              </div>
      </div>
    </div>
  </section>
  














  {% else %}



  <div class="container-fluid mt-100 ">
    <div class="row">
        <div class="col-md-12 mb-12">
            <div class="card">
                <div class="card-header">
                 
                </div>
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="{% static 'images/empty.png' %}" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>No Records Found</strong></h3>
                            </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  














  {% endif %}




  {% if announced_giveaways %}
  
  
  
  {% for g in announced_giveaways  %}
  
  {% for giveaway in g %}

    
  <div class="modal  fade" style="display:none" id="winner-{{giveaway.giveaway_title}}" tabindex="-1" role="dialog" aria-labelledby="Label-{{g.giveaway_title}}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title center-text" id="Label-{{giveaway.giveaway_title}}">Congratulation's</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">

            
            {% for win in giveaway.giveawayregistration_set.get_winners.all %}

            <li class="list-group-item bg-warning"><div class="d-flex"><img src="{{win.player.profile_image.url}}" alt="user" width="50" class="rounded-circle"> <span> <h6 class="font-medium">{{win.player.name}}</h6> </span> 
            </div></li>
            {% endfor %}

            
          
          
          
          
          
          </ul>




        













        </div>
       </div>
    </div>
  </div>
  










  {% endfor %}

  
  
  
  
  
  
  
  {% endfor %}
  
  
  
  
  
  
  
  
  
  
  
  {% endif %}














    {% endblock content %}


    
    {% block modal %}
    
  {% include 'player-modal.html' %}
   

      
    {% endblock modal %}
      