

<div class="modal fade " id="playerModal" data-backdrop="static" tabindex="-1" aria-labelledby="playerModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerModalLabel">Player Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{%url 'giveaways:player-giveaway-verify-register' %}" id="player_verify_form">

          {% csrf_token %}
          <div class="form-group">
          <input type="hidden" class="form-control" id="giveaway_id" name="g_id">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" id="giveaway/id" placeholder="Enter Your Player Id Here" name="p_id">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-detail-botton" data-dismiss="modal">Close</button>
        <button type="button" class="btn  btn-modal " id="playerverifybtn">Apply</button>
      </div>
    </div>
  </div>
</div>














